extend layout

block content
	h1 twitter search
	p this is a test of twitjson
	script
		$.get("https://graph.facebook.com/cocacola",
			function(data){
			$('body').append('my name is '+data.name);
							}, "json");
